/* src/components/RecipesPage.css */

/* Reset cơ bản */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Phông chữ và cơ bản */
body {
  font-family: 'Arial', sans-serif;
  font-style: bold;
  color: #fff;
  background-color: #b45309; /* Màu nền chính */
}

/* Header */
header {
  background: #000000;
  color: #ea580c; /* Màu chữ chính */
  padding: 15px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  border-bottom: 2px solid #ff1500; /* Đường viền dưới header */
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #ffffff; /* Màu chữ chính cho logo */
  text-decoration: none;
}

.logo img {
  width: 50px;
  height: auto;
}

/* Thêm CSS cho ảnh công thức */
.recipe {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 300px; /* Chiều rộng cố định */
  height: auto; /* Chiều cao cố định */
  border-radius: 8px; /* Tạo bo tròn góc nếu cần */
  margin-bottom: 10px; /* Khoảng cách giữa hình ảnh và tiêu đề món ăn */
}

.recipe img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.recipe h3 {
  font-size: 1.5em;
  color: #b45309; /* Màu chủ đạo */
}

.recipe h4 {
  font-size: 1.2em;
  color: #b45309; /* Màu chủ đạo */
}

/* Thêm CSS cho ô tìm kiếm */
.search-container {
  margin: 20px;
  text-align: center;
}

#search-input {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.logo p {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 24px;
}

.nav-links ul {
  display: flex;
  list-style: none;
  gap: 24px;
}

.nav-links li {
  font-size: 1.125rem;
  font-weight: bold;
}

.nav-links a {
  color: #ea580c; /* Màu chữ chính cho các liên kết */
  text-decoration: none;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #d97706; /* Màu chữ khi hover */
}

.profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

/* Mobile Menu */
.mobile-menu {
  display: none;
  align-items: center;
  justify-content: space-between;
}

.menu-icon {
  background: transparent;
  border: none;
  cursor: pointer;
}

.menu-icon svg {
  color: #b45309; /* Màu icon menu chính */
  font-size: 1.5rem;
}

/* Responsive Design */
@media (max-width: 768px) {
  .nav-links {
      display: none;
  }

  .mobile-menu {
      display: flex;
      width: 100%;
  }

  .mobile-logo {
      display: flex;
      align-items: center;
      gap: 8px;
  }
}

/* Main Content */
main {
  padding: 100px 15px 15px; /* Đảm bảo có khoảng cách cho header cố định */
}

section {
  margin-bottom: 40px;
}

h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #fff; /* Màu tiêu đề */
}

#recipe-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

/* Footer */
footer {
  background: #fff;
  color: #ea580c; /* Màu chữ chính cho footer */
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
}

/* Công thức nấu ăn */
.recipe {
  background: #000000;
  color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin-bottom: 20px;
}

.recipe h3 {
  color: #ea580c; /* Màu tiêu đề chính */
}

.recipe h4 {
  margin-top: 15px;
  font-size: 1.2rem;
  font-weight: bold;
}

.search-container {
  margin: 20px;
  display: flex;
  align-items: center;
}

#search-input {
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  flex: 1;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #b45309; /* Màu chính của bạn */
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #a24e08; /* Màu khi hover */
}


.recipe ul {
  list-style-type: disc;
  margin: 10px 0;
  padding-left: 20px;
}

.recipe p {
  margin-top: 10px;
}

@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%%%%%%%%%##%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%%%%%#%%%%%%%%%%%%%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%%%%%%%#########%#%%%%%%%#%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%%#####%#########%%###%%%%%%#%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%############%####*###**#%%%%%%%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%%##%########%%%%%*=++##+*#%%%%%%%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%%##%%##%%%#%%%%%%#+==++*#*##%%%%%%%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#%%#%%%#%%%%%%%%%%#+++++++++**##%@%%%%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%%%%%%%#%%%%%%%%%%#*++++++++++***#%@%%%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%%%%%%%#%%%%%%%%%#**+++**+++++*****#%%%%%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@%%%%%%%%%%%%%##%%##*******++++*******#%%%%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@%%%%%%%%%%%%%%#####+=++++++===+*+++***#%%%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@%%%%%%%%%#%%%%#*++++=--::::::-::=--:--=+#%%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@#%%%%%%%%#%%%%*-::::--::::::-:::-==-----=@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@#%%%%%%%%%%%%%*--:::::-----:::::::------=%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@#%%%%%%@%%%%%%*-:::..:::::::::::::::-----#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@#%%%%%%%%%%%%%*-:..:::::------::---------+@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@#%%%%%%%%%%@@@#=-:::::::::::::::::-------#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@#%%%%%%%%%%@@@%-:::::-------------------+@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@##%%%%%%%%@@@@#*=---:::::::::::------*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@##%%%%%%%%@@@@@##*==----:::--------*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@%##=*@@%%%%@@@@@#****+======--==-=%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@%#-::=%%%%%@@@@@#**++**+=======+*%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@#-::::-++#@@@@@@#*++++++++++++++*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@#-::::::::--:-=+#%#*++++++++++++++*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@%==+*+=--------::-=*++++++++++++****%###%##*#*+#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@#--::=#%%#+-----::--:-++****++++*****%%**#%%#*+++*@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@#--::::-=%%##%%#==-----:--::=***********%#+**##%+=++=@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@#-:-:::::-=%%####%%%*==--:------=********##++**##+=+*%=%@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@%-::-::::---+%%#####%%%@%#+:==------=##*****#++**===#%%%+%%+*@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@=:::----------=%######%%%@@%-=++===--====*####+==--#@%%%%*#%%+==%@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@*--:::-----===-==*%%#####%%%%*-=%#*+==+======+%*==-=*#@@%%%**%%*===%@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@%--:::--====----===+%%%#####%%*---##*==+++++=-=-++===*#*#@%%%*+%%#+===*@@@@@@@@@@@@@@@@@@@
@@@@@@@@@#-::::-============++#%%#####%#---:=+*==+++++--=====+**##*%%%%++%%#+++==*@@@@@@@@@@@@@@@@@@
@@@@@@@@%-::::-==============+#%%%%####----:=+**+++=--====-=***+**++%%%+=#%%*+=====@@@@@@@@@@@@@@@@@
@@@@@@@#::::-====+=++=======+*%%%%%%%#=----:=+**=::----=-==-+*++**+==%%+-#%%*+=====+@@@@@@@@@@@@@@@@
@@@@@@%-::::-=====++++++++==+#%%%%%%#=----::-==::::-----=---=++=*+===+%+-*%%*++=====*@@@@@@@@@@@@@@@
@@@@@@+::::::----=====++++++*%%%%%#*=------::::::::----------+==++====++-*%#+++======%@@@@@@@@@@@@@@
@@@@@%:::::-----:---===+++++*@@@%*+==--:::------:::::------=====++=====+-*%#++++======%@@@@@@@@@@@@@
@@@@@=:::::--=======----=++++%@@*+=::::::---====---:--------====+====-==-+%#+++========%@@@@@@@@@@@@
@@@@#-::::-==+++++++++=-=-===#@*+=:::::-::--=======----------===+=======-=%#++++=======+@@@@@@@@@@@@
@@@@=::::---------====-=+++===-::---:-::---====-===----------===+=======-=%*+++=========#@@@@@@@@@@@
@@@%::::::--===-:--+++-:::::::::-----::--=====--=====----=================%*+++++========@@@@@@@@@@@
@@@+:-=::--===-:-++-:---:::::::-====-::--=====---=====--=-=====++=========#*+++++========*@@@@@@@@@@
@@@-==::-====--=+=:--==-:::--:-=====-:--=======-===============++====-====+**+++++========%@@@@@@@@@
@@+-=::--===::=---====--::::---====----=======--===============++========++***+++=========+@@@@@@@@@
@#-=----===-:-=========-::-:-======-:--=======--========---===+++=======++++**++==========-#@@@@@@@@
@==---====-:--========-::::-======---========---==============+++=======++++#*+++===========%@@@@@@@
%-:-=====-:-=========-::::-=======---=============+===+===+=====+====-==++++#*++============*@@@@@@@
%:-======-:-=====---::::--=======--=============+++=++==========+======+=+++#*+++============%@@@@@@
@=-====--:-----:::::::--=========-==================++==========+======+=+++**++++++=++======*@@@@@@
@*-==--::---:::::----========================+=============+==+=+======+=+=+*+++++++++========@@@@@@
@@=--:::-----=----=========================-=++==========+==+==========+=+=+*+++++++++========#@@@@@
@@@-::------=-=-===-===================+**+-=+++========++=++=========++=+=+*++++++++=========+@@@@@
@@@@*=======================+**+++++=++++*+-=+++=+=====++==++=========++===+++++++++===========@@@@@
@@@@@@%+-=========++=+**+++++***+++++==+++=-=+++======-==+=========-==++===+***+++++===========#@@@@
@@@@@@@+--=-=-===%*=+*+*+*+++****++++===++=-=*+++=====================+====+***+++++===========*@@@@
@@@@@@@+---=-==-+%==*++*++*+++***++++++==+=-=+++++==========--=========+===+***+++++===========+@@@@
@@@@@@@+--=-====+==+++=*++**+=+**+++++++=++=+++++++=========---========+===+***++++===========-=%@@@
@@@@@@@+--=====-===++==**=+**+=+++++++++====++++++++====+====-=============+****++++============#@@@
@@@@@@@+-=====----=+===+#=++**++++=++++=+===========+========-============+=+#****+++======--===*@@@
@@@@@@@+--==-----=======#*=++**+++++++++===============+====================+###*+++++==========+@@@
@@@@@@@+-==--+---====--=*#==+**=+++++++=====+================================+##*+++++===========@@@
@@@@@@@+---=%+---====--=+#+=+++===++++++======================================*##*+++============#@@
@@@@@@@@#*+#*----=-==---+#*==+=====+++========================================+**+++=============+@@
@@@@@@@@@@@*----=-------=**========+++++=======================================+#*+++============+@@
@@@@@@@@@@@-------------=**+=========++=========================================*##**++====-----==@@
@@@@@@@@@@@=------------=+*======================================================*#*++==+====-====@@
@@@@@@@@@@@@=------------==-==============+======================================+#*+=============%@
@@@@@@@@@@@@*---------------=--===================================================+#++============#@
@@@@@@@@@@@@*-------------------================================+=================+##*+===---=====#@
@@@@@@@@@@@#-:------------------=================================================+*@%*+=+====---==#@
@@@@@@@@@@#-:---------------=----================================================+@@@%++==========*@
@@@@@@@@@@+:----------==----==----=============-=========-=======================*#++=============#@
@@@@@@@@@@%-::---------------===----=============================================**===============@@
@@@@@@@@@@@@*-:-------------====-----===========================================+##+++==-----====+@@
@@@@@@@@@@@@@*+-------------=====-----==========================================+#@%*=--------=--=*@
@@@@@@@@@@@@%+++**=----------======----=========================================+#@@*=--------=--==#
@@@@@@@@@@@@#++*##***==-------======----========================================+#@@#=--------+---=%
@@@@@@@@@@@@%%%%@%#++***+-------=====----======================================++#@@*=--------=--=#@
@@@@@@@@@@@@%#%%%%%%%******=-----=====----=====================================++*@@#==++++==----+@@
@@@@@@@@@@@@%%%%%%%%%%%%%#**#*+---=====---==================-=================+*%@@@@+=++#*+++==-+@@
@@@@@@@@@@@@#%%%%%%%%%%%%%%%%###*+====----==================-================*@@@@@@%+==*@%+==++++@@
@@@@@@@@@@@@##%%%%%%%%%%%%%%%%@@@%%#*=-==--===============================+#@@@@@@@@#==+@@%+==++#@@@
@@@@@@@@@@@%%%%%%%%%%%%%%%%%%%%%@@@@@@@%*=============================+*%@@@@@@@@@@@*==*@@*===+%@@@@
@@@@@@@@@@@%#%%%%%%%%%%%%%%%%%%%%@@@@@@@@@@@%####*+============+**##%%@@@@@@@@@@@@@@%=*###+==+#@@@@@
@@@@@@@@@@@%#%%%%%%%%%%%%%%%%%%%%%@@@@@@@@@@@#####%%%%%##*#%%#%@@@@@@@@@@@@@@@@@@@@@@####*==+#@@@@@@
@@@@@@@@@@@%#%%%%%%%%%%%%%%%%%%%%%@%@@@@@@@@@@%###%%%%#######%@@@@@@@@@@@@@@%@@@@@@@@***+==*@@@@@@@@
@@@@@@@@@@@%#%%%%%%%%%%%%%%%%%%%@@@@@@@@@@@@@@@@%##%#########@@@@@@@@@@@@@@@%@@@@@@@%++++*@@@@@@@@@@
@@@@@@@@@@@%%%%%%%%%%%%%%%%%%@%%%@@@@@@@@@@@@@@@@@%%########%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@%%%%%%%%%%%%%%%%%%%%%%%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%@@@@@@@@@@@@@@@@@@@@@@@@
